       .hitokoto{
         background-color: #FFFFFF;
       }
       .accountlink{
         background-color: #FFFFFF;
       }
       .link{
         background-color: #FFFFFF;
       }
       body{
         background-color: #000000;
       }
       h1{
         color: #FFFFFF;
         font-size: 35px;
       }
       h2{
         font-size: 25px;
       }
       p{
         font-size: 17px;
       }
       a{
         font-size: 20px;
       }
